#body {
    margin: 0px;
}

.navigation {
  background-color: #34e71fb3; 
  padding: 16px;   
  display: flex;
  justify-content: space-between;
  align-items: center;
 

} 

#search {    background: transparent;
    border: 1px solid #362f2f;
    outline: none;
    border-radius: 4px;
    outline: none;
    padding: 6px 10px;

}
.links {
    

}

ul.links li:not:last-child{
    margin-right: 16px;

}

.nav-items {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul.nav-items li {
    display: inline;
}

.auth {
    float: right;
}
 
 
 
 
 
.company {
    display: flex;
    
}

div.video {
    height: 300px;
    width: 500px; 
}


